mixin video(video)
  .video-mixin
    a(href=`/videos/${video.id}`)
      .video-mixin__thumb
        if video.thumbUrl
          img(src=video.thumbUrl)
    .video-mixin__data
      .video-photo
        img(src=video.owner.avatarUrl)
      .video-mixin__meta
        span.video-mixin__title= video.title
        div #{ video.owner.name }
        span #{ video.meta.views } views •
        span &nbsp;
        span= new Date(video.createdAt).toLocaleDateString("en-en", { year: "numeric", month: "short", day: "numeric" })
