extends layouts/main

block content
  .editvideo
    h1 Video details
    form(method="POST")
      .form-field
        label(name="title") Title
        input(name="title", placeholder="Video Title", value=video.title, required)
      .form-field
        label(name="description") Description
        textarea(placeholder="Description", required, type="text", name="description")= video.description
      .form-field
        label(name="hashtags") Tags
        input(
          placeholder="Hashtags, separated by comma.",
          required,
          type="text",
          name="hashtags",
          value=video.hashtags.join()
        )
      .form-field
        label(name="Thumbnail") Thumbnail
        input(type="file", name="avatar", accept="image/*")
      button(value="Save", type="submit") Save
