extends layouts/main

block content
  .upload
    //-video#preview
    //-button#startBtn Start Recording
    if errorMessage
      span= errorMessage
    h1 Upload Video
    .box
      .preview
        #placeholder.placeholder Video Preview
        video#video_output(src="#")
      form(method="POST", enctype="multipart/form-data")
        .form-field
          label(for="video") Video File
          input#video(type="file", accept="video/*", required, name="video")
        .form-field
          label(for="title") Title
          input(placeholder="Title", required, type="text", name="title", maxlength=80, value=video.title)

        .form-field
          label(for="description") Description
          input(placeholder="Description", required, type="text", name="description", value=video.description)
        .form-field
          label(for="hashtags") Hashtags
          input(placeholder="Hashtags, separated by comma.", type="text", name="hashtags", value=video.hashtags)
        .form-field
          label(for="thumb") Thumbnail
          .preview
            img#img_output(
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png"
            )
          input#thumb(type="file", name="thumb", accept="image/*")

        button(type="submit") SUBMIT

block scripts
  script(src="/static/js/upload.js")
  //- script(src="/static/js/recorder.js")
