header
  .menu
    a.header__logo(href="/")
      i.fab.fa-youtube
  .search
    form.search-form(action="/search")
      input(name="keyword", value=keyword)
      button.i.fas.fa-search
  nav
    if loggedIn
      ul#dropdown.dropdown
        li Hello,
          |
          |
          span= loggedInUser.username
          span !
        li
          a(href=`/users/${loggedInUser._id}`) Your channel
        li
          a(href="/users/edit") Edit Profile
        li
          a(href="/users/logout") Sign Out
      ul#videodrop.dropdown.video
        li
          a(href="/videos/upload") Upload Video
        li 
          |
          |
          |
          |
          |
          |
          a(href="/videos/record") Record Video
      ul.profile
        li#startvideo
          i.fas.fa-video
        li#profile.photo
          if loggedInUser.avatarUrl === ""
            span 😀
          else
            img.header__avatar(src=loggedInUser.avatarUrl)
    else
      ul
        li
          a.header__btn(href="/login") Sign in
          //- a(href=`/users/${loggedInUser._id}`)
